---
layout: default
---

#hero.row.confirmed
  .box
    .tl
    .tr
    .bl
    .br

    %h1 You're registered!

    %p
      We hope you're as excited as we are. We'll be in contact as the event
      gets closer.

    %p.event-name
      %h4 LevelUp EXP

    %p
      %em
        January 11th, 2014

    %p
      ThoughtWorks South Africa
      %br
      17 Melle Street
      %br
      2nd Floor, South Point Building
      %br
      Braamfontein
      %br
      %a{href: "http://goo.gl/llt22"}
        %i.icon-map-marker
        Map

