---
layout: registration
banner: false
hills: true
---

%link{rel: "stylesheet", href: "/assets/css/sydney.css"}
#sky
  .sky
  .container
    %header.header.row
      .left
        %a{href: "/"}
          %img.img-responsive{src: "/assets/img/page-structure/logo.png", title: "LevelUp: ThoughtWorks"}

    .event.box.red.row
      .tl
      .tr

      .city Sydney

      .col-sm-4
        .title
          LevelUp EXP 2
        .when
          %strong 7th Dec, 2013
          at
          %a{href: "http://goo.gl/maps/Uwcvv", target: "_blank"} ThoughtWorks Sydney

      .col-sm-8
        %p
          %a{href: "http://www.thoughtworks.com/"}ThoughtWorks
          is organising unique one-day conference called LevelUp EXP that is open to IT undergraduates, aiming at providing insight into the IT industry and software development practices that are not necessary taught at Uni.
        %p
          %strong LevelUp EXP
          aims to prepare university students interested in technology to enter the workforce. It brings together students with professional technical visionaries and engineers on the forefront of technology to discuss techniques and trends that help get you prepared to enter the workforce.
        %p Your guides on the journey will be the software professionals with unique and rich experiences &mdash; delivering software on weekdays &mdash; teaching you on weekend.
        %p The conference is free to students, however places are limited.
        %p
          Check out
          %a{href: "https://www.facebook.com/ThoughtworksLevelUp"} some of our past events
          !
      .col-md-8.col-md-offset-4

        %form#form.form-horizontal{action: "http://thoughtworks.us7.list-manage.com/subscribe/post?u=e01f405fabad2dd5617122558&amp;id=792737c827", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: ""}

          - inputs = [{:text => "First Name", :name => "FNAME"},
                    {:text => "Last Name", :name => "LNAME"},
                    {:text => "Email Address", :name => "EMAIL"},
                    {:text => "How did you hear about this event?", :name => "HOWHEAR"}]

          - inputs.each do |field|
            .form-group
              %label.col-sm-6.control-label{for: field[:name]}= field[:text]
              .col-sm-6
                %input.form-control{id: field[:name], name: field[:name], type: "text"}
          .register.visible-xs
            %button.bitbtn.btn-sm.btn-primary{type: "submit"}
              Register
          .register.hidden-xs
            %button.bitbtn.btn-lg.btn-primary{type: "submit"}
              Register

  #water.container.very-wide
    %h2 Agenda

    .row
      %p
        The day will kick off with a breakfast at 9:00am. Doors open from 8:45am.

      %p
        We'll have talks and hands on workshops with a focus on transitioning between uni and work, as well as technical skills you'll need to succeed.
    .row
      %p

    .talk.row
      .time.col-md-1
        9:00am
      .col-md-11
        %h3 Breakfast & Registration
        %p Doors open from 8:45

    .talk.row
      .time.col-md-1 
        9:30am
      .col-md-11
        %h3 Welcome to LevelUp EXP2 Sydney
        %h5 Jaksha Shah
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        9:45am
      .col-md-11
        %h3 Keynote - Being Relevant and Taking Big Leaps
        %h5 Sam Massey
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        10:30am
      .col-md-4
        %h3 Stop Coding; Start Drawing (Part A)
        %h5 Andrew Carr
        %h6 ThoughtWorks Sydney
      .col-md-3
        %h3 Authentic communication
        %h5 Khali Young
        %h6 ThoughtWorks Sydney
      .col-md-4
        %h3 Converging trends of data and hardware
        %h5 Zhamak Dehghani
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        11:00am
      .col-md-4
        %h3 Stop Coding; Start Drawing (Part A)
        %h5 Andrew Carr
        %h6 ThoughtWorks Sydney
      .col-md-3
        %h3 Agile 101
        %h5 Angus Irvine
        %h6 ThoughtWorks Sydney
      .col-md-4
        %h3 Graduate -> Consultant
        %h5 Jules Parry
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        11:30am
      .col-md-11
        %h3 Morning break

    .talk.row
      .time.col-md-1
        11:40am
      .col-md-4
        %h3 Stop Coding; Start Drawing (Part B)
        %h5 Andrew Carr
        %h6 ThoughtWorks Sydney
      .col-md-3
        %h3 Uni to work
        %h5 Cassandra Hill & Lily Chen
        %h6 ThoughtWorks Sydney
      .col-md-4
        %h3 Code smells
        %h5 Anita Maehrle & Andrew Jones
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        12:10pm
      .col-md-4
        %h3 Stop Coding; Start Drawing (Part B)
        %h5 Andrew Carr
        %h6 ThoughtWorks Sydney
      .col-md-3
        %h3 A day in the life of a tester
        %h5 Jaksha Shah & Keith Wale
        %h6 ThoughtWorks Sydney
      .col-md-4
        %h3 What is functional programming?
        %h5 Dominic Bou-Samra
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        12:40pm
      .col-md-4
        %h3 Stop Coding; Start Drawing (Part B)
        %h5 Andrew Carr
        %h6 ThoughtWorks Sydney
      .col-md-7
        %h3 Filling the gap between amateur hacking, and professional hacking
        %h5 Max Wittmann
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        1:10pm
      .col-md-11
        %h3 Lunch

    .talk.row
      .time.col-md-1
        2:00pm
      .col-md-4
        %h3 An intro to TDD (Part A)
        %h5 Dominic Bou-Samra & Andrew Jones
        %h6 ThoughtWorks Sydney
      .col-md-3
        %h3 UX workshops
        %h5 Pete Chemsripong
        %h6 ThoughtWorks Sydney
      .col-md-4
        %h3 Stuff
        %h5 GetUp people
        %h6 GetUp!

    .talk.row
      .time.col-md-1
        2:45pm
      .col-md-11
        %h3 Afternoon break


    .talk.row
      .time.col-md-1
        3:00pm
      .col-md-4
        %h3 An intro to TDD (Part B)
        %h5 Dominic Bou-Samra & Andrew Jones
        %h6 ThoughtWorks Sydney
      .col-md-3
        %h3 Changing unis
        %h5 Keith Wale
        %h6 ThoughtWorks Sydney
      .col-md-4
        %h3 IT must die
        %h5 Darren Smith
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        3:30pm
      .col-md-4
        %h3 An intro to TDD (Part B)
        %h5 Dominic Bou-Samra & Andrew Jones
        %h6 ThoughtWorks Sydney
      .col-md-7
        %h3 Q&A with all
        %h5 Everyone
        %h6 Everywhere

    .talk.row
      .time.col-md-1
        4:00pm
      .col-md-11
        %h3 Keynote - Social Impact Projects
        %h5 Lindy Stephens
        %h6 ThoughtWorks Sydney

    .talk.row
      .time.col-md-1
        5:00pm
      .col-md-11
        %h3 Drinks and socializing
        %h5 Everyone