@import "mixin";

body {
  #ground {
    #coaches-list {
      h2 {
        padding-bottom: 60px;
        @include uni;
        color: $grey6;
        span {
          color: black;
          @include unibold;
        }
      }
    }
  } // #ground
}
