@import "mixin";

body {
  position: relative;

  .event {
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 25px;

    .details {
/*      width: 30%;
      float: left;
*/      padding: 0 15px;
    }

    .about {
/*      width: 70%;
      float: left;
*/      padding: 0 15px;
    }

    .title {
      @include unibold;
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 15px;
    }

    .city {
      @include uni;
      font-size: 12px;
      text-transform: uppercase;
      padding: 5px;
      border: 3px solid black;
      position: absolute;
      left: 45px;
      top: -15px;
      background-color: #ec038d;
      color: white;

      &.melbourne {
        background-color: #ff6600;
      }

      &.brisbane {
        background-color: #3498db;
      }
    }
  }

  #sky {
    padding-bottom: 0;
  }
}

#upcoming-events {
  .event {
    margin: 25px auto;
  }
}

#past-events {
  h2 {
    margin: 0 0 35px 0;
  }
}

.heading {
  position: relative;
  width: 585px;
  padding-left: 35px;
  float: right;
  margin-top: -70px;
  border-left: 5px solid black;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .heading {
    position: relative;
    max-width: 485px;
    width:initial;
    padding-left: 35px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .heading {
    padding-left: 0;
    float: none;
    border-left-width: 0;
  }
}

  h1 {
    font-size: 30px;
    line-height: 1.5;
    color: #0c3c81;
  }

  .mascot {
    position: absolute;
    left: -240px;
    top: 60px;
    $amount: -10deg;
    transform: rotate($amount);
    -ms-transform:rotate($amount);
    -webkit-transform:rotate($amount);
  }

