//@import "temp";
@import "mixin";

body {

  .top-alert {
    background: #f6ee4b;
    color: black;
    text-align: center;
    padding: 10px 0;
    p {
      font-weight: bold;
      margin: 0;
      span {
        font-weight: normal;
      }
    }
  } //.top-alert


  #sky {
    position: relative;
    padding: 20px 0 30px 0;
    .sky {
      @include bg-absolute;
      background: #b8f9ff url('/assets/img/page-structure/sky/sky.png') repeat-x top left;
      top: 0;
    }
    .hill-back {
      @include bg-absolute;
      height: 351px;
      background: transparent url('/assets/img/page-structure/sky/hill-back.png') repeat-x top left;
    }
    .hill-front {
      @include bg-absolute;
      left: -600px;
      padding-right: 600px;
      height: 636px;
      background: transparent url('/assets/img/page-structure/sky/hill-front.png') repeat-x top center;
    }

    .container {
      header, .header {
        ul.nav {
          float: right;
        }
      } //header

      #hero {
        padding: 20px 0;
        h1 {
          font-size: 60px;
          letter-spacing: -1px;
          line-height: 62px;
          span {
            display: block;
            font-weight: 300;
          }
        }
        h3 {
          color: $grey7;
          font-weight: 300;
          margin: 30px 0 40px 0;
          line-height: 1.2em;
          font-size: 1.6em;
        }
        #what-is-levelup {
          p {
            font-size: 1.2em;
            line-height: 1.4em;
            margin-bottom: 1.5em;
            padding-right: 1em;
          }
        }

      } // #hero


    }



  } //#sky

  #ground {
    padding-bottom: 30px;
    position: relative;
    .grass {
      background: transparent url('/assets/img/page-structure/ground/grass.png') repeat-x top left;
      height: 50px;
    }
    .ground {
      @include bg-absolute;
      top: 0;
      background: #f1e0b6 url('/assets/img/page-structure/ground/ground.png') repeat top left;
    }
  } //#ground

  #water {
    .wave {
      background: transparent url('/assets/img/page-structure/water/wave.png') repeat-x top left;
      height: 55px;
      margin-top: -20px;
    }
    .water {
      background: #92e1fe;
    }
  } //#water

  footer, .footer {
    color: white;
    .blueblock {
      background: transparent url('/assets/img/page-structure/footer/block.png') repeat-x top left;
      height: 100px;
      margin-top: -10px;
    }
    .dark {
      background: #242c3a;
    }
  } //footer

}