//@import "temp";
@import "mixin";

body {

  .top-alert {
    background: #f6ee4b;
    color: black;
    text-align: center;
    padding: 10px 0;
    p {
      font-weight: bold;
      margin: 0;
      span {
        font-weight: normal;
      }
    }
  } //.top-alert

  header, .header {
  } //header

  #sky {
    position: relative;
    padding-bottom: 30px;
    .sky {
      @include bg-absolute;
      background: #b8f9ff url('/assets/img/page-structure/sky/sky.png') repeat-x top left;
      top: 0;
    }
    .hill-back {
      @include bg-absolute;
      height: 476px;
      background: transparent url('/assets/img/page-structure/sky/hill-back.png') repeat-x top left;
    }
    .hill-front {
      @include bg-absolute;
      height: 636px;
      background: transparent url('/assets/img/page-structure/sky/hill-front.png') repeat-x top left;
    }
  } //#sky

  #ground {
    padding-bottom: 30px;
    position: relative;
    .grass {
      background: transparent url('/assets/img/page-structure/ground/grass.png') repeat-x top left;
      height: 50px;
    }
    .ground {
      @include bg-absolute;
      top: 0;
      background: #f1e0b6 url('/assets/img/page-structure/ground/ground.png') repeat top left;
    }
  } //#ground

  #water {
    .wave {
      background: transparent url('/assets/img/page-structure/water/wave.png') repeat-x top left;
      height: 55px;
      margin-top: -20px;
    }
    .water {
      background: #92e1fe;
    }
  } //#water

  footer, .footer {
    color: white;
    .blueblock {
      background: transparent url('/assets/img/page-structure/footer/block.png') repeat-x top left;
      height: 100px;
      margin-top: -10px;
    }
    .dark {
      background: #242c3a;
    }
  } //footer

}