---
layout: default
permalink: /life-can-be-better.html
category: session
title: Life Can Be Better
subtitle: Agile &mdash; The Way of Doing Things
---

.session
  %h2 {{ page.title }}
  %h3 {{ page.subtitle }}

  .summary
    %p
      Life in software development is writing 250 page requirements
      documents that nobody reads and become irrelevant the minute they are
      produced, being totally disengaged from the people who actually use
      the software, working on projects that never deliver anything
      %em even after running for 2 years
      , communicating with siloed teams through email, being told exactly
      what to do by a manager high up in a hierarchy, its being in fear of
      your job because of outsourcing.

    %p
      Or is it?

    %p
      Imagine a state where the TEAM takes responsibility for what they
      work on, where conversations replace contracts, where change is a
      positive part of life, where everybody is willing to help everybody else
      out, where the delivery of software is of vital importance to ensure
      success, where features are shipped daily and users are consulted at
      every step of the way.

    %p
      %em Thats how software delivery should be

    %p
      This session will show you how you could have a better life working in
      software delivery. And why you should make other feel the same.

  %ul.links
    %h4 Links:
    %li
      %a.btn.btn-primary{href: "#", title: "Slides"} Slides
    %li
      %a.btn.btn-primary{href: "#", title: "Watch the lecture"} Video
  .clear

