---
layout: default
permalink: /nerds-test-first.html
category: session
title: Test Driving Your Code
subtitle: Nerds Test First
---

.session
  .summary
    %h2 {{ page.title }}
    %h3 {{ page.subtitle }}

    %p
      Have you ever been too afraid to make improvements to your code, in case
      you break something? Come on a journey with us and discover how driving
      the design of your code by writing tests first can give you the freedom
      to reshape your code without fear. See how good unit tests communicate
      the intention of your classes. Experience the joy of watching red tests
      turn green!

%ul.links
  %h4 Links:
  %li
    %a.btn.btn-primary{href: "/assets/tdd.pptx", title: "Test Driving Your Code Slides"} Slide Deck
.clear

