---
layout: default
permalink: /making-what-people-want.html
category: session
title: Making Products Users Actually Want
subtitle: User Testing, Design, and Wireframes
---

.session
  %h2 {{ page.title }}
  %h3 {{ page.subtitle }}

  .summary
    %p
      You could have a product with the best set of features on the market, but
      it is absolutely pointless if no one wants to use it! Usability testing
      and design are such crucial elements of software development. Come and
      learn some quick and easy techniques to ensure what you're making and what
      your users actually want is exactly the same thing.
