---
layout: default
---

#hero.row.confirmed
  .box
    .tl
    .tr
    .bl
    .br

    %h1 You're On Our Waiting List

    %p
      Thank you for your interest! Your registration is pending approval as LevelUp has a limited number of places. We'll email you soon if you've been successful in securing a place.

    %p.event-name
      %h4 LevelUp Melbourne

    %p
      %em
        6 November 2013 to 4 December 2013

    %p
      ThoughtWorks
      %br
      Level 14, 303 Collins Street
      %br
      Melbourne, VIC 3000, Australia
      %br
      GPO Box 4701, VIC 3001
      %br
      %a{href: "http://goo.gl/maps/HcxWi"}
        %i.icon-map-marker
        Map

