---
layout: default
---

#hero.row.confirmed
  .box
    .tl
    .tr
    .bl
    .br

    %h1 You're Registered!

    :plain
      <a href="https://twitter.com/intent/tweet?button_hashtag=LevelUpMelb2013&text=I%20just%20registered%20for%205%20weeks%20of%20free%20agile%20and%20coding%20classes!" class="twitter-hashtag-button" data-size="large" data-related="TW_LevelUp" data-url="http://levelup.thoughtworks.com/melbourne/levelup-nov-2013/">Tweet #LevelUpMelb2013</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=240823519373091";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    %p.event-name
      %h4 LevelUp Melbourne

    %p
      %em
        6th November, 2013 to 4th December, 2013

    %p
      Level 14, 303 Collins Street
      %br
      Melbourne, VIC 3000, Australia
      %br
      GPO Box 4701, VIC 3001
      %br
      %a{href: "http://goo.gl/maps/HcxWi"}
        %i.icon-map-marker
        Map

    %p
      Don't worry! We'll send you a reminder email you as the date gets closer.
      If you're as excited to be coming as we are to have you, why not Tweet
      about it?

