---
layout: default
---

#hero.row.thank-you
  .box
    .tl
    .tr
    .bl
    .br

    %h1 Almost there...

    %p
      We've sent you a message to verify your email address. Once you've
      confirmed your email we will put you on our waiting list for LevelUp Melbourne.

    %p
      If you're having trouble finding the email, please check your spam
      folder. If you still can't find it, you can send an email to
      %a{href: "mailto: levelup@thoughtworks.com"} levelup@thoughtworks.com
      and we'll get you sorted.
