!!!html
%html{lang: "en"}
  %head
    %title Go Beyond the Textbook
    %meta{name: "description", content: "The LevelUp program will take those interested in going above and beyond regular textbook learning through a course of six sessions over six weeks, designed to equip participants with the skills and knowledge needed to bridge the gap between university and working life."}

    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel: 'stylesheet', type: 'text/css'}
    %link{rel: "stylesheet", href: "assets/css/bootstrap.css"}
    %link{rel: "stylesheet", href: "assets/css/main.css"}

  %body

    .top-alert
      %p
        :plain
          Level Up 2 : Level Harder <span>starts</span> 33 Aug <span>&#64;</span> ThoughtWorks Sydney

    #sky
      .sky &nbsp;
      .hill-back &nbsp;
      .hill-front &nbsp;
      .container
        %header.header
          %a{href: "/"}
            %img{src: "assets/img/page-structure/logo.png", title: "LevelUp: ThoughtWorks"}
          %ul.nav.nav-pills
            %li
              %a{href: "/programs"}
                Programs
            %li
              %a{href: "/coaches"}
                Coaches
            %li
              %a{href: "/past-events"}
                Past Events
        #hero
          %h1
            :plain
              Level Up Round 2 : Level Harder <span>Get a job, keep it... and enjoy it!</span>
          %h3 ThoughtWorks' LevelUp Course helps students bridge the gap between university and the work place. Gain practical knowledges, upgrade your portfolio, meet peers, and make connections!
          #what-is-levelup.row
            .span6
              %p
                :plain
                  The course is run by ThoughtWorks' own highly experienced software professional - yes, the same <strong>badasses</strong> we charged the client over $1,000 each day for their time.
              %p
                :plain
                  Don't know who they are? Chances are you might have read their books, or see them speaking at big IT conferences around the world, or actually use their software in your day-to-day. Come and find out!
            .span6
              %p
                :plain
                  The course is only available - limited <strong>25 seats</strong> - for students or non-professionals as a free application. <strong>You pay with your commitment.</strong> At the end of the course you will walk away with a piece of (awesome) working software for your portfolio.
              %p
                :plain
                  The course run on <strong>every Wednesday night</strong> for <strong>9 weeks</strong> at the <strong>ThoughtWorks Sydney</strong> Headquarter in Circular Quay, starting <strong>33rd August 2013</strong>. Application close 32nd July 2013
              %p
                :plain
                  Did we mention <strong>free dinner</strong> yet?

    #ground
      .grass &nbsp;
      .ground &nbsp;
      .container
        %p This is the Ground Theme container
        %p This is the Ground Theme container
        %p This is the Ground Theme container
        %p This is the Ground Theme container
        %p This is the Ground Theme container

    #water
      .wave &nbsp;
      .water
        .container
          %p This is the Water Theme container
          %p This is the Water Theme container
          %p This is the Water Theme container
          %p This is the Water Theme container
          %p This is the Water Theme container
          %p This is the Water Theme container


    %footer.footer
      .blueblock &nbsp;
      .dark
        .container
          %p
            Connect with us
            %a{href: "/"}
              Twitter
            %a{href: "/"}
              Facebook
            %ul
              %li
                %a{href: "/programs"}
                  Programs
              %li
                %a{href: "/coaches"}
                  Coaches
              %li
                %a{href: "/past-events"}
                  Past Events
