!!!html
%html{lang: "en"}
  %head
    %title Go Beyond the Textbook
    %meta{name: "description", content: "The LevelUp program will take those interested in going above and beyond regular textbook learning through a course of six sessions over six weeks, designed to equip participants with the skills and knowledge needed to bridge the gap between university and working life."}
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400', rel: 'stylesheet', type: 'text/css'}
    %link{rel: "stylesheet", href: "assets/css/bootstrap.css"}
    %link{rel: "stylesheet", href: "assets/css/main.css"}

  %body

    .top-alert
      %p
        :plain
          Level Up Two <span>starts</span> 33 Aug <span>&#64;</span> ThoughtWorks Sydney

    #sky
      .sky &nbsp;
      .hill-back &nbsp;
      .hill-front &nbsp;
      .cloud &nbsp;
      .container
        %header.header.row
          %a.left{href: "/"}
            %img{src: "assets/img/page-structure/logo.png", title: "LevelUp: ThoughtWorks"}
          %ul.nav.nav-pills
            %li
              %a{href: "/programs"}
                Programs
            %li
              %a{href: "/coaches"}
                Coaches
            %li
              %a{href: "/events"}
                Past Events
        #hero.row
          %h1
            :plain
              LEVEL UP <strong>TWO</strong><span>Get a job, keep it... and enjoy it!</span>
          %h3 ThoughtWorks' LevelUp Course helps students bridge the gap between university and the work place. Gain practical knowledges, upgrade your portfolio, meet peers, and make connections!
          #what-is-levelup.row
            .span6
              %p
                :plain
                  The course is run by ThoughtWorks' own highly experienced software professional - yes, the same <strong>badasses</strong> we charged the client over $1,000 each day for their time.
              %p
                :plain
                  Don't know who they are? Chances are you might have read their books, or see them speaking at big IT conferences around the world, or actually use their software in your day-to-day. Come and find out!
            .span6
              %p
                :plain
                  The course is only available - limited <strong>25 seats</strong> - for students or non-professionals as a free application. <strong>You pay with your commitment.</strong> At the end of the course you will walk away with a piece of (awesome) working software for your portfolio.
              %p
                :plain
                  The course run on <strong>every Wednesday night</strong> for <strong>9 weeks</strong> at the <strong>ThoughtWorks Sydney</strong> Headquarter in Circular Quay, starting <strong>33rd August 2013</strong>. Application close 32nd July 2013
              %p
                :plain
                  Did we mention <strong>free dinner</strong> yet?
        #application.row
          %a.apply-now{href: "/"}
            %span Apply Now
          #form &nbsp;


    #ground
      .grass &nbsp;
      .ground &nbsp;
      .container
        #coaches.row
          .span3
            %h2 Coach
            %a.bitbtn.btn-secondary{href: "/coaches"} More coaches
          .span3.person
            %a.bit{href: "/coaches/sam-gibson"}
              %img{src: "assets/img/coaches/sam-gibson.jpg", title: "Sam Gibson"}
              %span Sam Gibson
            %p Like to make stuff. Mostly complex stuff that needs to scale. Also requested unicorn on this site.
          .span3.person
            %a.bit{href: "/coaches/sam-gibson"}
              %img{src: "assets/img/coaches/sam-gibson.jpg", title: "Sam Gibson"}
              %span Sam Messey
            %p 20+ years veteran in being British. Believe that there can be only one Sam.
          .span3.person
            %a.bit{href: "/coaches/sam-gibson"}
              %img{src: "assets/img/coaches/sam-gibson.jpg", title: "Sam Gibson"}
              %span Sam Newman
            %p 9 years experience. Spoken at Agile Australia, YOW, and many more. Loves pranks.



    #water
      .wave &nbsp;
      .water &nbsp;
      .seaweed &nbsp;
      .bubbles &nbsp;
      .container
        #events.row
          .span3
            %h2 Past events
            %a.bitbtn.btn-secondary{href: "/coaches"} More events
          .span5.event
            %h4
              %a{href: "/events/levelup-exp"}
                %span.bit LevelUp EXP
                %span.date : 22 June 2013
                %img{src: "assets/img/events/levelup-exp.jpg", title: "LevelUp EXP"}
            .blockquote
              "(Level Up EXP) was valuable!"
              %span &#8212; John Smith, University of Sydney
            .blockquote
              "Couldn't believe how good looking the Experience Designers are!"
              %span &#8212; Jane Smith, University of New South Wales
            .blockquote
              "(Level Up EXP) was valuable!"
              %span &#8212; John Smith, University of Sydney
          .span4.event
            %h4
              %a{href: "/events/levelup-exp"}
                %span.bit LevelUp One
                %span.date : 22 June 2013
                %img{src: "assets/img/events/levelup-exp.jpg", title: "LevelUp EXP"}
            .blockquote
              "(Level Up EXP) was valuable!"
              %span &#8212; John Smith, University of Sydney
            .blockquote
              "Couldn't believe how good looking the Experience Designers are!"
              %span &#8212; Jane Smith, University of New South Wales

    %footer.footer
      .blueblock &nbsp;
      .dark
        .container
          %p
            Connect with us
            %a{href: "/"}
              Twitter
            %a{href: "/"}
              Facebook
            %ul
              %li
                %a{href: "/programs"}
                  Programs
              %li
                %a{href: "/coaches"}
                  Coaches
              %li
                %a{href: "/past-events"}
                  Past Events
