!!!html
%html{lang: "en"}
  %head
    %title LevelUp - Go Beyond the Textbook
    %meta{name: "description", content: "The LevelUp program takes you above and beyond regular textbook learning. Designed to equip participants with skills and knowledge needed to bridge the gap between university and working life."}
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400', rel: 'stylesheet', type: 'text/css'}
    %link{rel: "stylesheet", href: "/assets/css/bootstrap.css"}
    %link{rel: "stylesheet", href: "/assets/css/main.css"}

    %script{type: "text/javascript", src: "/assets/js/jquery-2.0.3.min.js"}

  %body.registration
    {% if page.banner != false %}
    .top-alert
      %p
        Don't miss the next event! Subscribe to our
        %a{href: "https://twitter.com/TW_LevelUp"} Twitter
        and
        %a{href: "https://www.facebook.com/ThoughtworksLevelUp"} Facebook
        !
    {% endif %}

    #sky
      .sky
      .container
        %header.header.row
          .left
            %a{href: "/"}
              %img{src: "/assets/img/page-structure/logo.png", title: "LevelUp: ThoughtWorks"}
        {{ content }}

      .skyline

