<!DOCTYPE html>
<html lang='en' ng-app>
	<head>
		<title>ThoughtWorks' LevelUp - Go Beyond the Textbook</title>
		<meta content='The LevelUp program will take those interested in going above and beyond regular textbook learning through a course of six sessions over six weeks, designed to equip participants with the skills and knowledge needed to bridge the gap between university and working life.'
			  name='description'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
		<link href='/assets/css/bootstrap.css' rel='stylesheet'>
		<link href='/assets/css/main.css' rel='stylesheet'>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="/assets/js/eventCtrl.js"></script>
	</head>
	<body>
		<div class='top-alert'>
			<p>
				Level Up Two <span>starts</span> at 6pm August 20th 2013 <span>&#64;</span> ThoughtWorks Sydney
			</p>
		</div>
		<div id='sky'>
			<div class='sky'>&nbsp;</div>
			<div class='container' id="coaches-list">
				<header class='header row'>
					<a class='left' href='/'>
						<img src='/assets/img/page-structure/logo.png' title='LevelUp: ThoughtWorks'>
					</a>
					<ul class='nav nav-pills'>
						<li>
							<a href='/course'>
                                Course Details
							</a>
						</li>
						<li>
							<a href='/coaches'>
								Coaches
							</a>
						</li>
						<li class="active">
							<a href='/events'>
								Past Events
							</a>
						</li>
					</ul>
				</header>
                <p>&nbsp;</p>
			</div>
		</div>
		</div>
		<div id='ground'>
			<div class='grass'>&nbsp;</div>
			<div class='ground'>&nbsp;</div>
			<div class='container'>
			</div>
		</div>
		<div id='water'>
			<div class='wave'>&nbsp;</div>
			<div class='water'>&nbsp;</div>
			<div class='seaweed'>&nbsp;</div>
			<div class='bubbles'>&nbsp;</div>
			<div class='container'>
                <div class='row' id='events' ng-controller="eventCtrl">
                    <h1>Past Events</h1>
                    <p>&nbsp;</p>
                    <div class="event" ng-repeat="event in events">

                        <div class="row">
                            <div class="span12">
                                <h3>{{event.name}}</h3>
                                <h4>{{event.date}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span7">
                                <div class="left">
                                    <p>{{ event.description }}</p>
                                    <div class="photo">
                                        <img ng-repeat="photo in event.photos" ng-src="{{photo.img}}">
                                    </div>
                                    <a target="_blank" class="bitbtn" ng-href="{{event.photobook}}">More photos from <img src="/assets/img/page-structure/footer/facebook.png" title="Facebook"></a>
                                </div>
                            </div>
                            <div class="span5">
                                <div class="right">
                                    <div class="blockquote" ng-repeat="testie in event.testimonial">
                                        <p>&ldquo;{{testie.text}}&rdquo;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line">&nbsp</div>
                    </div>
                </div>



			</div>
		</div>
        <footer class="footer">
            <div class="blueblock">&nbsp;</div>
            <div class="dark">
                <div class="container">
                    <h4>Connect with us</h4>
                    <ul class="nav social">
                        <li>
                            <a href="https://twitter.com/TW_LevelUp">
                                <img src="/assets/img/page-structure/footer/twitter.png" title="Twitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/ThoughtworksLevelUp">
                                <img src="/assets/img/page-structure/footer/facebook.png" title="Facebook">
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills">
                        <li>
                            <a href="/course">
                                Course Details
                            </a>
                        </li>
                        <li>
                            <a href="/coaches">
                                Coaches
                            </a>
                        </li>
                        <li>
                            <a href="/events">
                                Past Events
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
	</body>
</html>
